:root {
  /* Primary */
  /* intro and email sign up background */
  --darkBlue1: hsl(217, 28%, 15%);
  /* main background */
  --darkBlue2: hsl(218, 28%, 13%);
  /* footer background */
  --darkBlue3: hsl(216, 53%, 9%);
  /* testimonials background */
  --darkBlue4: hsl(219, 30%, 18%);

  /* Accent */
  /* inside call-to-action gradient */
  --cyan: hsl(176, 68%, 64%);
  /* inside call-to-action gradient */
  --blue: #339ecc;
  /* error */
  --lightRed: hsl(0, 100%, 63%);
  /* neutral */
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  /* font-size: 20px; */
  background-color: var(--darkBlue2);
  color: var(--white);
}
.container {
  padding: 1.5rem 1.2rem 0;
}
.img {
  width: 100%;
  height: auto;
}
header {
  background-color: var(--darkBlue1);
  /* background: url("images/bg-curvy-mobile.svg") no-repeat bottom; */
  background-image: url("images/bg-curvy-mobile.svg");
  background-size: 140% 52%;
  background-repeat: no-repeat;
  background-position: bottom left -12vh;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  max-width: 120px;
  max-height: 58px;
}
ul {
  list-style-type: none;
}
ul li a,
a {
  text-decoration: none;
  color: var(--white);
}
header .nav ul {
  display: flex;
  font-size: 14px;
}
header .nav ul li + li {
  margin-left: 0.5rem;
}
header .bg-curve {
  padding: 3rem 0.5rem;
  text-align: center;
}
header .heading {
  font-size: 1.5rem;
}
header .summary {
  font-size: 0.93rem;
  margin: 15px 0 18px;
}
.btn,
.accessCard #email {
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  width: 80%;
  max-width: 200px;
}
.btn {
  background-color: var(--blue);
  font-weight: 700;
  color: var(--white);
}
.btn:hover {
  background-color: #2d87adec;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .blocks {
  text-align: center;
  margin: 3rem 0;
  max-width: 1000px;
}
main .blocks .img {
  margin-bottom: 2rem;
  min-height: 100px;
}
main .blocks .blockImg {
  max-width: 88px;
}
main .blocks .heading {
  font-size: 1.3rem;
}
main .blocks .summary {
  font-size: 1rem;
  margin: 1rem 0;
}
main .block + .block {
  margin-top: 5rem;
}
main .blockTwo {
  margin-top: 5rem;
}
main .featureSection {
  margin: 9.5rem 0 0;
}
main .featureImg {
  margin: 0 0 2.5rem;
}
main .featureSection .heading {
  font-size: 1.2rem;
  margin: 1.2rem 0;
}
main .featureSection .summary + .summary {
  margin: 1.2rem 0;
}
main .link {
  display: flex;
  align-items: center;
}
main .link a {
  color: var(--cyan);
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--cyan);
}

main .link .img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
main .testimonials {
  position: relative;
}
main .card1::before {
  content: "";
  background: url("images/bg-quotes.png") no-repeat;
  background-size: 27.5px 22.5px;
  position: absolute;
  top: -18px;
  left: 22px;
  width: 55px;
  height: 45px;
}
main .testimonials {
  margin: 7rem 0 15rem;
  padding: 0 1rem;
}
main .card {
  background-color: var(--darkBlue4);
  padding: 1.5rem;
  border-radius: 10px;
}
main .card + .card {
  margin: 1.2rem 0 0;
}
.card .summary {
  font-size: 12.5px;
  line-height: 20px;
}
main .card .profileInfo {
  display: flex;
  align-items: center;
  margin: 1rem 0 0;
}
main .card .profileInfo .profile {
  border-radius: 50%;
  max-width: 50px;
  margin-right: 10px;
}
.profileInfo h5 {
  font-size: 15px;
  margin-bottom: 5px;
}
.profileInfo p {
  font-size: 10px;
}

main .card4 {
  position: relative;
  display: flex;
  justify-content: center;
}
main .accessCard {
  -webkit-box-shadow: 6px 6px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 5px -5px rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: -10.5rem;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  text-align: center;
  background-color: var(--darkBlue1);
  min-width: 85vw;
}
.accessCard h5 {
  font-size: 1rem;
}
.accessCard p {
  margin: 1rem 0 1.5rem;
  font-size: 14px;
  line-height: 20px;
}
.accessCard .btn,
.accessCard #email {
  width: 100%;
}
.accessCard #email {
  margin-bottom: 1.5rem;
}
footer {
  background-color: var(--darkBlue3);
  color: white;
  padding: 9rem 2rem 2rem !important;
}
footer .logoDiv {
  margin: 6rem 0 1rem;
}
footer .img {
  width: 50%;
  height: auto;
}
footer .logo {
  width: 40%;
  height: 20%;
  max-width: 200px;
}
.info div {
  display: flex;
}

.info div img {
  width: auto;
  height: 100%;
  margin: 5px 20px 0 0;
  max-width: 20px;
  max-height: 20px;
}
.column {
  flex-direction: column;
  margin-top: 1rem;
}
.info div p,
.links {
  font-size: 1.1rem;
  line-height: 30px;
}
.links {
  margin: 3rem 0;
}
.links ul,
.social ul {
  list-style: none;
}
.links ul li a {
  color: white;
  text-decoration: unset;
}
.links ul li a:hover {
  color: var(--cyan);
}
a:hover {
  color: var(--cyan);
}
.links ul li + li {
  margin: 1.5rem 0 0;
}

.social ul {
  display: flex;
  justify-content: center;
}
.social ul li {
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.social ul li + li {
  margin-left: 1rem;
}
.social ul li:hover {
  border: 1px solid var(--cyan);
  color: var(--cyan);
  cursor: pointer;
}
.row {
  display: flex;
}
@media (min-width: 768px) {
  .container {
    /* padding: 3rem 2.7rem 0; */
    padding: 3rem 4rem;
  }
  header .bg-curve {
    max-width: 720px;
  }
  header .nav ul li + li {
    margin-left: 2rem;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-curvy-desktop.svg");
    background-size: contain;
    background-position: bottom;
  }
  header .nav {
    align-self: normal;
  }
  header .heading {
    font-size: 2rem;
    line-height: 1.5;
  }
  header .summary {
    line-height: 1.5;
    padding: 0 8rem;
  }
  main .blockOne,
  main .blockTwo {
    display: flex;
  }
  main .block + .block {
    margin: 0 0rem 0 10rem;
  }
  main .featureSection,
  main .testimonials {
    display: flex;
  }
  main .featureExplanation {
    margin: 9rem 0 0 4rem;
    width: 55%;
  }
  main .featureSection .heading {
    font-size: 2.5rem;
    padding: 0 17rem 0 0rem;
    line-height: 1.4;
  }
  main .featureImg {
    margin: 0 0px 2.5rem 1rem;
    width: 60%;
  }
  main .testimonials {
    justify-content: center;
  }
  main .card {
    flex-basis: 30%;
  }
  main .card + .card {
    margin: 0 0 0 2rem;
  }
  .card .summary {
    font-size: 16.3px;
  }
  main .accessCard {
    min-width: 100vh;
    /* bottom: -7.5rem; */
  }
  .accessCard h5 {
    font-size: 2rem;
  }
  .accessCard p {
    padding: 0 5rem;
  }
  .accessCard #email {
    max-width: 60%;
    margin-right: 1rem;
  }
  footer {
    padding: 3rem 4rem !important;
    font-size: 14px;
  }
  .sub-container {
    display: flex;
  }
  .info {
    display: flex;
    flex-basis: 60%;
  }
  .column {
    margin: 0;
    margin-left: 2rem;
  }
  .social {
    flex-basis: 15%;
  }
  .links {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 25%;
  }
  .links div {
    /* flex-basis: 30%; */
    display: flex;
  }
  .links ul {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .links ul li + li {
    margin: 0;
  }
}
